# Git
.git
.gitignore

# Documentation
README.md
*.md

# GitHub
.github

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Logs
*.log

# Temporary files
*.tmp
*.temp

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

